* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/wall.png');
}

@media screen and (min-height: 800px) and (min-width: 800px) {
    .menu {
        height: 80px;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
    .menu h1 {
        font-size: 14px;
    }

    .menu h2 {
        font-size: 12px;
        padding-left: 2px;
    }
}

@media screen and (max-width: 450px) {
    .menu h1 {
        font-size: 14px;
    }

    .menu h2 {
        font-size: 12px;
        padding-left: 2px;
    }

    .grid-game {
        width: 320px;
        height: 320px
    }
    .panel-game {
        width: 65px;
        height: 320px;
    }

    .cardGame {
        width: 65px;
        height: 65px;
    }
}